name: Test models and notebooks

on:
  - push
  - pull_request

jobs:
  test-models:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    # Free up disk space on the GitHub-hosted runner
    - name: Free disk space
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/ghc
        sudo rm -rf /opt/hostedtoolcache/CodeQL
        rm -rf ~/.cache/pip

    - name: Show disk space after cleanup
      run: df -h
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install tox-gh-actions
    - name: Test models and notebooks
      run: tox -e testenviron